{% extends 'base.html' %}

{% block content %}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush">
    {% for note in user.notes %}
    <li class="list-group-item d-flex">
        <p id="note_content" class="p-0 m-0 flex-grow-1" contenteditable="true">{{note.content}}</p>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-success"
                onClick="updateNote({{note.id}}, document.getElementById('note_content').textContent)">Update</button>
            <button type="button" class="btn btn-danger" onClick="deleteNote({{note.id}})">Delete</button>
        </div>
    </li>
    {% endfor %}
</ul>
<br>
<form method="post">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{% endblock %}